adium-theme-ubuntu==0.3.4
appdirs==1.4.3
argh==0.26.2
astroid==1.5.2
backports.functools-lru-cache==1.4
chardet==2.3.0
Cheetah==2.4.4
colorama==0.3.9
configparser==3.5.0
coverage==4.4.1
-e git+git@github.com:yanil3500/data-structures.git@57791ce97a20accad2923ba0586e1b4f3371d374#egg=data_structures
decorator==4.0.6
docopt==0.6.2
enum34==1.1.6
-e git+git@github.com:miguelp1986/code-katas.git@a30d92e413af74b4e1f419316295874e2aaa9dee#egg=generate_user_links
gyp==0.1
ipython==2.4.1
isort==4.2.5
lazy-object-proxy==1.3.1
libvirt-python==2.0.0
mccabe==0.6.1
packaging==16.8
pathtools==0.1.2
pexpect==4.2.0
pluggy==0.4.0
ptyprocess==0.5.1
py==1.4.33
pycodestyle==2.3.1
pydocstyle==2.0.0
pyflakes==1.5.0
pygobject==3.22.0
pylama==7.3.3
pylama-pylint==3.0.1
pylint==1.7.1
pyparsing==2.2.0
pytest==3.0.7
pytest-cov==2.5.1
pytest-watch==4.1.0
python-apt==1.1.0b5
python-debian==0.1.29
PyYAML==3.12
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.1
tox==2.7.0
-e git+git@github.com:shortaj/trigrams.git@86e7fd7b797cc03b37555336eb96c7c8e3cbc9ef#egg=trigrams
ubuntuone-client-data==14.4
unity-lens-photos==1.0
virtualenv==15.1.0
watchdog==0.8.3
wrapt==1.10.10
